html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.lil-gui {
  --font-size: 12px;
  --input-font-size: 12px;
  --padding: 2px;
  --spacing: 2px;
  --widget-height: 18px;
  --name-width: 90%;
  --folder-indent: 6px;
}
